* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    /* Mudar no final a proporção corretamente e alterar o main e o footer */
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

#areaBotaoVoltar {
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-left: 5%;
    margin-bottom: 1%;

    button {
        border: none;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        -webkit-text-stroke: 0.2px currentColor;
        letter-spacing: 1px;
        font-size: 13px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(201, 201, 201);

    }
    a {
        text-decoration: none;
    }
}

#informacaoProduto{
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 60px;
}

.imagemProduto{
    height: auto;
    max-width: 700px;
    display: flex;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}

.miniaturaImgProduto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniaturaImgProduto img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #c9a86a transparent;
    transition: 0.3s;
    box-sizing: border-box;
}

.ativa{
    outline: 3px solid #c9a86a;
    outline-offset: 2px;
}

.miniaturaImgProduto img:hover{
    transform: scale(1.05);
}

.imagemPrincipalProduto img{
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal img{
    height: 85%;
    border-radius: 20px;
}

#dadosProduto{
    height: 400px;
    max-width: 450px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    flex-direction: column;
    display: flex;
}

#fraseCategoriaProduto{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 10px;
    color: #c9a86a;
    gap: 11px;
    margin-bottom: 1%;
}

#nomeProduto{
    width: 100%;
    height: 73px;
    font-weight: 500;
    -webkit-text-stroke: 0.5px currentColor;
    font-size: 33px;
    color:  #011f46;
}

#valorProduto{
    font-weight: 500;
    -webkit-text-stroke: 0.3px currentColor;
    font-size: 30px;
    color:  #011f46;
    margin-bottom: 3%;
    margin-top: 3%;
}
#descricaoProduto{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 2%;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-text-stroke: 0.2px currentColor;

}
#linhaDescricao{
    height: 2px;
    width: 45%;
    background-color: #c9a86a;
    margin-top: auto;
}
#mensagemProduto{
    width: 90%;
    height: 60px;
    background-color: #f1ede5;
    display: flex;
    margin-top: 5%;
    border-radius: 8px;
    align-items: center;
    padding-left: 3%;
    padding-right: 4%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-text-stroke: 0.2px currentColor;
    font-size: 13px;

}
#mensagemBonita{
    margin-left: 3%;
    display: flex;

}
#mensagemProduto img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#botaoProduto{
    margin-top: 5%;
    button{
        padding: 11px;
        padding-left: 45px;
        padding-right: 45px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 2px;
        background-color: #c9a86a;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        background-color: #a08656;
    }
}


#sugestaoProduto{
    background-color: #f1ede5;
    height: auto;
    width: 100%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

#tituloSugestao{
    height: 25px;
    width: 100%;
    background-color: #f1ede5;
    display: flex;
    align-items: center;
    padding-right: 25px;
    justify-content: center;
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 11px;
        color: #c9a86a;
        margin-left: 23px;
        margin-right: 23px;
    }
}

#detalheLinha{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    color: #c9a86a;
    margin-left: 2px;
    margin-right: 2px;
}
.linhaCate{
    width: 10%;
}

#sugestaoCards{
    background-color: #f1ede5;
    height: auto;
    min-width: 605px;
}

#espacoDestaque{
    background-color: #f1ede5;

}

.cardProduto{
    width: 200px;
    height: 220px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.textCard{
    font-size: 13px;
}
.valorCard{
    font-size: 16px;
}

#imagemSugestao{
    width: 515px;
    height: 245px;
    background-color: #f1ede5;
    margin-left: auto;
    border-radius: 10px;
    border: 2px solid #dfd4b8;
    box-sizing: border-box;

}

#imagemSugestao img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}


/*------RESPONSIVIDADE------*/

@media (max-width: 1303px) {

}
/*Notebook Pequeno*/
@media (max-width: 1245px) {
    /*Responsividade imagens*/
    .miniaturaImgProduto img{
        width: 83px;
        height: 83px;
    }

    .imagemPrincipalProduto img{
        width: 500px;
        height: 364px;
    }

    .modal img{
        height: 80%;
        width: auto;
    }
    /*Responsividade informação*/
    #dadosProduto{
        max-width: 420px;
        height: 370px;
    }
    
    #fraseCategoriaProduto{
        font-size: 9px;
    }

    #nomeProduto{
        font-size: 30px;
    }
    #valorProduto {
        font-size: 27px;
    }
    #descricaoProduto {
        font-size: 12px;
    }
    #mensagemProduto{
        font-size: 12px;
    }
    #botaoProduto {
        button{
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 10px;
        }

    }
    /*Resposividade Sugestão*/
    #sugestaoCards{
        min-width: 530px;
    }
    #imagemSugestao{
        width: 500px;
        height: 238px;
    }
}


@media (max-width: 1149px) {
    
    #areaBotaoVoltar{
        button{
            font-size: 12px;
        }
    }
    /*Responsividade imagens*/
    .miniaturaImgProduto img{
        width: 73px;
        height: 73px;
    }

    .imagemPrincipalProduto img{
        width: 450px;
        height: 327px;
    }


    /*Responsividade informação*/
    #dadosProduto{
        max-width: 390px;
        height: 340px;
    }
    
    #fraseCategoriaProduto{
        font-size: 8px;
    }

    #nomeProduto{
        font-size: 27px;
    }
    #valorProduto {
        font-size: 24px;
    }
    #descricaoProduto {
        font-size: 11px;
    }
    #mensagemProduto{
        font-size: 11px;
    }
    #botaoProduto {
        button{
            padding: 9px;
            padding-left: 35px;
            padding-right: 35px;
            font-size: 9px;
        }

    }
    /*Resposividade Sugestão*/
    #sugestaoCards{
        min-width: 490px;
    }
    #imagemSugestao{
        width: 450px;
        height: 214px;
    }
    .cardProduto{
        width: 190px;
        height: 210px;
        margin-right: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .textCard{
        font-size: 12px;
    }
    .valorCard{
        font-size: 15px;
    }
}

@media (max-width: 1048px){
    #informacaoProduto{
        padding-left: 2%;
        padding-right: 2%;
    }
    #sugestaoProduto{
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media (max-width: 984px){

    #areaBotaoVoltar{
        button{
            font-size: 11px;
        }
    }
    /*Responsividade imagens*/
    .miniaturaImgProduto img{
        width: 83px;
        height: 83px;
    }

    .imagemPrincipalProduto img{
        width: 500px;
        height: 364px;
    }

    .imagemProduto{
        margin-bottom: 25px;
    }


    /*Responsividade informação*/
    #dadosProduto{
        max-width: 605px;
        height: 370px;
        margin-left: 0px;
    }
    
    #fraseCategoriaProduto{
        font-size: 9px;
    }

    #nomeProduto{
        font-size: 30px;
    }
    #valorProduto {
        font-size: 27px;
    }
    #descricaoProduto {
        font-size: 12px;
    }
    #mensagemProduto{
        font-size: 12px;
        padding-left: 5%;
    }
    #botaoProduto {
        margin-left: auto;
        button{
            padding: 11px;
            padding-left: 45px;
            padding-right: 45px;
            font-size: 11px;
        }

    }
    /*Resposividade Sugestão*/
    #espacoDestaque{
        width: 100%;
    }

    #sugestaoCards{
        min-width: 100%;
    }
    #imagemSugestao{
        width: 500px;
        height: 238px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .cardProduto{
        width: 200px;
        height: 220px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .textCard{
        font-size: 13px;
    }
    .valorCard{
        font-size: 16px;
    }
}


@media (max-width: 660px){
    #areaBotaoVoltar{
        button{
            font-size: 10px;
        }
    }
    /*Responsividade imagens*/
    .miniaturaImgProduto img{
        width: 73px;
        height: 73px;
    }

    .imagemPrincipalProduto img{
        width: 450px;
        height: 327px;
    }
    .modal img{
        height: auto;
        width: 70%;
    }

    /*Responsividade informação*/
    #dadosProduto{
        max-width: 543px;
        height: 340px;
    }
    
    #fraseCategoriaProduto{
        font-size: 8px;
    }

    #nomeProduto{
        font-size: 27px;
    }
    #valorProduto {
        font-size: 24px;
    }
    #descricaoProduto {
        font-size: 11px;
    }
    #mensagemProduto{
        font-size: 11px;
    }
    #botaoProduto {
        button{
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 10px;
        }

    }
    /*Resposividade Sugestão*/
    #imagemSugestao{
        width: 450px;
        height: 214px;
        margin-bottom: 15px;
    }
    .cardProduto{
        width: 190px;
        height: 210px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .textCard{
        font-size: 12px;
    }
    .valorCard{
        font-size: 15px;
    }

}

@media (max-width:580px){
    /*Responsividade imagens*/
    .imagemProduto{
        flex-direction: column-reverse;
    }

    .miniaturaImgProduto {
        display: flex;
        justify-content:space-around;
        flex-direction: initial;  
    }
    .miniaturaImgProduto img{
        width: 73px;
        height: 73px;
    }

    .imagemPrincipalProduto img{
        width: 400px;
        height: 291px;
    }
    .imagemProduto{
        margin-bottom: 25px;
    }

    .modal img{
        height: auto;
        width: 80%;
    }
    /*Responsividade informação*/
    #dadosProduto{
        max-width: 405px;
        height: 315px;
    }
    
    #fraseCategoriaProduto{
        font-size: 8px;
    }

    #nomeProduto{
        font-size: 24px;
        height: 55px;
    }
    #valorProduto {
        font-size: 21px;
    }
    #descricaoProduto {
        font-size: 10px;
    }
    #mensagemProduto{
        font-size: 10px;
    }
    #botaoProduto {
        button{
            padding: 9px;
            padding-left: 35px;
            padding-right: 35px;
            font-size: 9px;
        }

    }
    #mensagemProduto img{
    width: 30px;
    height: 30px;
    }


    /*Resposividade Sugestão*/
    #imagemSugestao{
        width: 400px;
        height: 190px;
        margin-bottom: 15px;
    }

    #tituloSugestao{
        padding-right: 10px;
        p {
            font-size: 9px;
        }
    }
    #detalheLinha{
        font-size: 9px;
    }
    .cardProduto{
        width: 170px;
        height: 190px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .textCard{
        font-size: 12px;
    }
    .valorCard{
        font-size: 13px;
    }

}

@media (max-width: 450px){
    /*Responsividade imagens*/
    .miniaturaImgProduto img{
        width: 58px;
        height: 58px;
    }

    .imagemPrincipalProduto img{
        width: 320px;
        height: 237px;
    }
    .imagemProduto{
        margin-bottom: 20px;
    }

    /*Responsividade informação*/
    #dadosProduto{
        max-width: 320px;
        height: 300px;
    }
    
    #fraseCategoriaProduto{
        font-size: 8px;
    }

    #nomeProduto{
        font-size: 20px;
        height: 55px;
    }
    #valorProduto {
        font-size: 18px;
    }
    #descricaoProduto {
        font-size: 10px;
    }
    #mensagemProduto{
        font-size: 9px;
    }
    #botaoProduto {
        button{
            padding: 8px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 8px;
        }

    }

    /*Resposividade Sugestão*/
    #sugestaoProduto{
        padding-left: 0px;
        padding-right: 0px;
    }
    #imagemSugestao{
        width: 300px;
        height: 143px;
        margin-bottom: 15px;
    }

    #tituloSugestao{
        padding-right: 0px;
        p {
            font-size: 8px;
        }
    }
    #detalheLinha{
        font-size: 8px;
    }
    .cardProduto{
        width: 150px;
        height: 170px;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .textCard{
        font-size: 10px;
    }
    .valorCard{
        font-size: 11px;
    }

}